@charset "UTF-8";

@font-face{
	font-family: "jeju";
	src : url('../font/JejuMyeongjo-Regular.ttf') format('truetype');
}
#setfont{
	font-family: "jeju";
	font-size: 16px;
	
}
#mainfontsize{
	font-size: 23px;
	font-family: "jeju";
}
#writer, #boatitle{
	width: 719px; 
}