@charset "UTF-8";

#setfont{
	font-family: "jeju";
	font-size: 16px;
	
}
#mainfontsize{
	font-size: 23px;
	font-family: "jeju";
}
#writer, #boatitle{
	width: 719px; 
}

#setfont table{
	height : 450px;
}
