@charset "UTF-8";

#setfont{
	font-family: "jeju";
	font-size: 16px;
	
}
#mainfontsize{
	font-size: 23px;
	font-family: "jeju";
}
#id, #score, #carname, #content, #title{
	width: 719px; 
}
#file{
	width: 650px;
}

#setfont table{
	height : 500px;
}