@charset "UTF-8";

.container {
    padding: 25px;
   	width : 500px;
   	margin : auto; 
	font-family: "jeju";
	font-size: 16px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
  
}

.form-login a{
	font-family: 'jeju';
  	text-decoration : none;
}

.form-login a:link{
	color : black;
}

.form-login a:visited{
	color : black;
}

.form-login a:active{
	color: #8e0000;
}

.form-login a:hover{
	color: #8e0000;
}

h2 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
