@charset "UTF-8";

.container {
    padding: 25px;
<<<<<<< HEAD
   	width : 700px;
   	margin : auto; 
=======
   
	font-family: "jeju";
	font-size: 16px;
>>>>>>> branch 'master' of https://github.com/KangHeeWoo/Burung
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
  	width : 600px;
}

.updateForm{
	width : 600px;
	margin-left : 40px;
}

.updateForm span{
	font-size: 15px;
	color : red;
}

#insertSub{
	margin-left : 300px;
}

h2 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}
#email1{
	max-width: 100px;
	
}
#email2{
	max-width: 100px;
}
#phone1{
	max-width: 300px;
	
}
#phone2{
	max-width: 300px;
}