@charset "UTF-8";

@font-face{
	font-family: "jeju";
	src : url('../font/JejuMyeongjo-Regular.ttf') format('truetype');
}

#date h2{
	font-family: 'jeju';
	display: inline-block;
}

#rentdate{
	width:370px;
	height : 120px;
	background: #eeeeee;
}

#rentdate div{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	margin-top : 35px;
}

#arrow{
	width: 10px;
	margin-bottom : 12px;
}

#rentinfo{
	width:370px;
	display: inline-block;
	margin : 50px;
	float : left;
}

#carimg{
	width : 360px;
}

#rentinfo span{
	font-family: 'jeju';
	font-size: 20px;
	font-weight: bold;
}

#rentinfo h3{
	font-family: 'jeju';
}

.price{
	float: right;
	display: inline-block; 
}

#rentdate div h3{
	color: #454545;
	font-family: 'jeju';
}

#rentdate div h4{
	color: #454545;
	font-family: 'jeju';
}

#rdetail{
	width : 1100px;
	display: inline-block;
	margin : 50px;
	font-family: 'jeju';
}

#rdetail{
	margin-left: 30px;
}

#rdetail span{
	margin-right: 70px;
	font-size: 16px;
}

#terms{
	width : 1050px;
	height : 160px;
	padding: 20px;
	overflow: auto;	
}

#rentList div{
	width:500px;
	display: inline-block;
}

#rentList div img{
	width:90%;
	margin : 10px;
}

#rentList div a{
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
}

#rentList div a:link{
	color : black;
}

#rentList div a:visited{
	color : black;
}

#rentList div a:active{
	color: #8e0000;
}

#rentList div a:hover{
	color: #8e0000;
}

#listSearch {
	background-color: #555555;
	border: none;
    color: white;
    width: 100px;
    height: 26px;
    font-size: 15px;
}

#optSub{
	float: right;
	background-color: #555555;
	border: none;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 15px;
}