@charset "UTF-8";

#mainImg{
	width:100%;
}

#subImg{
	width:50%;
}

#modelList{
	position: absolute;
}

#modelList li a{
	color : white;
	font-size : 20px;
	text-decoration:none;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	-moz-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	-webkit-text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	/*
	text-shadow: 0 0 2px #f00;
   	-moz-text-shadow: 0 0 2px #f00;
   	-webkit-text-shadow: 0 0 2px #f00;
	*/
}