@charset "UTF-8";

#mainImg{
	width:100%;
}

#subImg{
	width:50%;
}

#modelList{
	position: absolute;
}

#modelList li a{
	color : #c0c0c0;
	font-size : 20px;
	text-decoration:none;
}